body {
	background: #333;
	color: #FFF;
	font-size: 20px;
	height: 100%;
	cursor:default;
}

* {
	margin:0;
	padding:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	box-sizing: border-box;
}

#canvas {
	position: absolute;
	left:200px;
	height:100%;
	max-height:800px;
	z-index:1;
}

#side {
	position:absolute;
	width:200px;
	height:100%;
	z-index:101;
	background: #333;
}

#side ul {
	position:absolute;
	bottom:0;
	left:0;
}

#side ul li {
	list-style-type:none;
	cursor:pointer;
	padding:5px;
	padding-left:92px;
}
#side ul li:hover,#side ul li.active {
	background:#444;
}

.b {
	box-shadow:5px -2px 3px #222;
	position:absolute;
	bottom:0;
	width:100%;
	padding:7px;
	padding-left:200px;
	background:#444;
	display:none;
	z-index:2;
	max-height: 100%;
}

#consbar li {
	cursor:pointer;
	display:inline-block;
}

#consbar li {
	list-style-type:none;
	font: 15px;
	margin:5px;
	padding:5px;
}

#consbar li:hover {
	background:#555;
}

#consbar li.disabled {
	cursor: not-allowed;
	background:#444;
}

#ranks {
	overflow-y:scroll;
}

#ranks table {
	margin: auto;
}

.expensive {
	background:#660000;
}

td, th {
	text-align:center;
	border:none;
	margin:0px;
	padding:2px;
}

tr:nth-child(odd) {
	background: rgba(255,255,255,0.2);
}

#stats {

	display:block;
}
#stats li {
	display:block;
}

#stats li:last-child {

}

.visible {
	display:block!important;
}

.structure {
	font-weight:bold;
	border-radius:7px;
	border:1px solid #AAA;
}

.cantbuy {
	cursor:not-allowed;
}