body {
	background: #333;
	color: #FFF;
	font-size: 20px;
	height: 100%;
	cursor:default;
	overflow:hidden;
}

* {
	margin:0;
	padding:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	box-sizing: border-box;
}

#canvas {
	position: absolute;
	left:200px;
	height:100%;
	max-height:800px;
	z-index:1;
}

#side {
	position:absolute;
	width:200px;
	height:100%;
	z-index:101;
	background: #333;
}

#side ul {
	position:absolute;
	bottom:0;
	left:0;
}

#side ul li {
	list-style-type:none;
	cursor:pointer;
	padding:5px;
	padding-left:92px;
}
#side ul li:hover,#side ul li.active {
	background:#444;
}

.b {
	box-shadow:5px -2px 3px #222;
	position:absolute;
	bottom:0;
	width:100%;
	padding:7px;
	padding-left:200px;
	background:#444;
	display:none;
	z-index:2;
	max-height: 100%;
}

#consbar li {
	cursor:pointer;
	display:inline-block;
}

#consbar li {
	list-style-type:none;
	font: 15px;
	margin:5px;
	padding:5px;
}

#consbar li:hover {
	background:#555;
}

#consbar li.disabled {
	cursor: not-allowed;
	background:#444;
}

#ranks tbody, thead {
	display:block;
}

#ranks tbody {
	max-height:500px;
	overflow-y:scroll;
}

#ranks table {
	max-height:100%;
	margin: auto;
}

#ranks table {
	width: 750px;
	table-layout: fixed;
	border-collapse: collapse;
}
#ranks table th {
	text-decoration: underline;
}
#ranks table th,
#ranks table td {
	padding: 5px;
	text-align: left;
}
#ranks table td:nth-child(1),
#ranks table th:nth-child(1) {
	min-width: 200px;
}
#ranks table td:nth-child(2),
#ranks table th:nth-child(2) {
	min-width: 200px;
}
#ranks table td:nth-child(3),
#ranks table th:nth-child(3) {
	width: 350px;
}
#ranks table thead {
	/*background-color: #333333;*/
	/*color: #fdfdfd;*/
}
#ranks table thead tr {
	display: block;
	position: relative;
}
#ranks table tbody {
	display: block;
	overflow: auto;
	width: 100%;
	height: 300px;
}
#ranks table tbody tr:nth-child(even) {
	/*background-color: #dddddd;*/
}

.expensive {
	background:#660000;
}

td, th {
	text-align:center;
	border:none;
	margin:0px;
	padding:2px;
}

tr:nth-child(odd) {
	background: rgba(255,255,255,0.2);
}

#stats {

	display:block;
}
#stats li {
	display:block;
}

#stats li:last-child {

}

.visible {
	display:block!important;
}

.structure {
	font-weight:bold;
	border-radius:7px;
	border:1px solid #AAA;
}

.cantbuy {
	cursor:not-allowed;
}

tr.player {
	background:#000;
}

th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header { cursor:pointer; }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#000 transparent;
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.6;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }

/*  th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header { cursor:pointer; }
table th.sort-header:after {
	content:'';
	float:right;
	margin-top:7px;
	border-width:4px 4px 0;
	border-style:solid;
	border-color:#000000 transparent;
	visibility:hidden;
}
table th.sort-header:hover:after {
	visibility:visible;
}
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
	visibility:visible;
	border-color:#000 transparent;
	opacity:1;
}
table th.sort-up:after {
	border-width:0 4px 4px;
	border-bottom:none;
}*/

#ranks table th {
    background:#eee;
    background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background:-moz-linear-gradient(top, #eee, #ddd);
    text-shadow:0 1px 0 #fff;
    font-weight:bold;
    vertical-align:bottom;
    color:black;
    }